<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('./partials/head'); -%>
    
</head>
<body onload="startTime()">
    <%- include('./partials/header_sidebar'); -%>
    
    <!-- tap on top starts-->
    <!-- https://milkyway.cscodetech.cloud/add_store.php#! -->
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6">
                  <h3><%=lan.Add%> <%=lan.Sitter%></h3>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><%=lan.Dashboard%></li>
                    <li class="breadcrumb-item active"><%=lan.Add%> <%=lan.Sitter%></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation" id="shitter_form_click" novalidate="" action="/sitter_data/add_sitter" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
                                        <label class="col-form-label"><%=lan.Name%></label>
                                        <input class="form-control shitter_input" id="customet_name" type="text" name="name" placeholder="<%=lan.Enter%> <%=lan.Name%>" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
                                        <label class="col-form-label"><%=lan.LOGO%></label>
                                        <input class="form-control shitter_input" style="height: 47px;" type="file" name="logo" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
                                        <label class="col-form-label"><%=lan.Cover%> <%=lan.LOGO%></label>
                                        <input class="form-control shitter_input" style="height: 47px;" type="file" name="cover_logo" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
                                        <label class="col-form-label"><%=lan.Email%></label>
                                        <input class="form-control shitter_input" id="shitter_email" type="email" name="email" placeholder="<%=lan.Enter%> <%=lan.Email%>" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
                                        <label class="col-form-label"><%=lan.Active%> <%=lan.Status%></label>
                                        <select class="js-example-basic-single shitter_input" name="status" required>
                                            <option value selected disabled><%=lan.Status%> <%=lan.List%></option>
                                            <option value="1"><%=lan.Active%></option>
                                            <option value="0"><%=lan.Inactive%></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
                                        <label class="col-form-label"><%=lan.Verified%> <%=lan.Status%></label>
                                        <select class="js-example-basic-single shitter_input" name="v_status" required>
                                            <option value selected disabled><%=lan.Verified%> <%=lan.Status%> <%=lan.List%></option>
                                            <option value="1"><%=lan.Verified%></option>
                                            <option value="0"><%=lan.Not%> <%=lan.Verified%></option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Title%></label>
                                        <input class="form-control shitter_input" type="text" name="title" placeholder="<%=lan.Enter%> <%=lan.Title%>" required>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Subtitle%></label>
                                        <input class="form-control shitter_input" type="text" name="subtitle" placeholder="<%=lan.Enter%> <%=lan.Subtitle%>" required>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label class="col-form-label"><%=lan.Tag%></label>
                                        <select class="custome_select_create form-control shitter_input" multiple="multiple" name="tag" required>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div>
                                            <label class="col-form-label"><%=lan.Short%> <%=lan.Description%></label>
                                        </div>
                                        <div>
                                            <textarea class="form-control shitter_input" name="description" style="width: 100%; height: 150px;" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div>
                                            <label class="col-form-label"><%=lan.Cancel%> <%=lan.Policy%></label>
                                        </div>
                                        <div>
                                            <textarea class="form-control shitter_input" name="cancel_policy" style="width: 100%; height: 90px;" required></textarea>
                                        </div>
                                    </div>

                                    <div class="col-12 border-bottom border-bottom-dark mt-3 mb-3">
                                        <h5><%=lan.Login%> <%=lan.Information%></h5>
                                    </div>


                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Phone%> <%=lan.Number%>.</label>
                                        <div class="row">
                                            <div class="col-4">
                                                <select class="js-example-basic-single shitter_input" id="shitter_country_code" name="country_code" required>
                                                    <option value selected disabled><%=lan.Country%></option>
                                                    <% CountryCode.forEach((data, x) => { %>
                                                        <option value="<%= data %>"> <%= nameCode[x] %> <%= data %> </option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control shitter_input" id="shitter_phone" type="number" name="phone" placeholder="<%=lan.Enter%> <%=lan.Phone%> <%=lan.Number%>." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <label class="col-form-label"><%=lan.Password%></label>
                                        <input class="form-control shitter_input" type="password" name="password"  required>
                                    </div>

                                    <div class="col-12 border-bottom border-bottom-dark mt-3 mb-3">
                                        <h5><%=lan.Address%> <%=lan.Information%></h5>
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="col-12 form-group">
                                                <label class="col-form-label"><%=lan.Full%> <%=lan.Address%></label>
                                                <input class="form-control shitter_input" type="text" name="address" placeholder="<%=lan.Enter%> <%=lan.Full%> <%=lan.Address%>" required>
                                            </div>
                                            <div class="col-12 form-group">
                                                <label class="col-form-label"><%=lan.Pincode%></label>
                                                <input class="form-control shitter_input" type="number" name="pincode" placeholder="<%=lan.Enter%> <%=lan.Pincode%>" required>
                                            </div>
                                            <div class="col-12 form-group">
                                                <label class="col-form-label"><%=lan.Landmark%></label>
                                                <input class="form-control shitter_input" type="text" name="landmark" placeholder="<%=lan.Enter%> <%=lan.Landmark%>" required>
                                            </div>
                                            <div class="col-12 form-group">
                                                <label class="col-form-label"><%=lan.Select%> <%=lan.Zone%></label>
                                                <select class="js-example-basic-single shitter_input" name="zone" required>
                                                    <option value selected disabled><%=lan.Zone%> <%=lan.List%></option>
                                                    <% zone_data.forEach(function(zone_data){ %>
                                                    <option value="<%=zone_data.id%>"><%=zone_data.name%></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                            <div class="col-12 form-group">
                                                <label class="col-form-label"><%=lan.Latitude%></label>
                                                <input class="form-control shitter_input" id="sitter_latitude" type="text" name="latitude"  required>
                                            </div>
                                            <div class="col-12 form-group">
                                                <label class="col-form-label"><%=lan.Longitude%></label>
                                                <input class="form-control shitter_input" id="sitter_longitude" type="text" name="longitude"  required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-4">
                                            <div id="address-map" style="height: 60vh; width: 100%;"></div>
                                        </div>

                                    </div>

                                    <div class="col-12 border-bottom border-bottom-dark mt-3 mb-3">
                                        <h5><%=lan.Commission%></h5>
                                    </div>

                                    <div class="col-12 form-group">
                                        <label class="col-form-label"><%=lan.Commission%> <%=lan.Rate%> %</label>
                                        <input class="form-control shitter_input" type="number" name="commisiion" placeholder="<%=lan.Enter%> <%=lan.Commission%> <%=lan.Rate%> %" required>
                                    </div>



                                    <div class="col-12 border-bottom d-flex justify-content-between pt-3 mt-1 mb-3">
                                        <h5><%=lan.Services%> <%=lan.Information%></h5>
                                    </div>

                                    <div class="col-12">
                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                            <select class="js-example-basic-single" id="sitter_services_list" name="status" required>
                                                <option value selected disabled><%=lan.Services%> <%=lan.List%></option>
                                                <% services_data.forEach(function(servoce_data){ %>
                                                <option value="<%=servoce_data.id%>"><%=servoce_data.name%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="" id="add_services">
                                        
                                    </div>

                                    <input type="hidden" id="" value="0">

                                    <div class="text-center">
                                        <p class="text-danger d-none mt-3" id="shitter_detail_error"><%=lan.Please_Enter_All_Detail%>.</p>
                                        <p class="text-danger d-none mt-3" id="shitter_services_error"><%=lan.Select_Services%>.</p>
                                        <p class="text-danger d-none mt-3" id="shitter_email_error"><%=lan.This_Email_Id_Already_Registered%>.</p>
                                        <p class="text-danger d-none mt-3" id="shitter_phoneno_error"><%=lan.This_Phone_No_Alread_Registered%>.</p>
                                    </div>
                                    
                                </div>
                            </form>
                            <div class="text-end mt-5">
                                <button class="btn btn-square btn-primary btn-air-primary add_detail_btn b-r-10" id="shitter_form_btn" type="submit"><%=lan.Submit%></button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=<%= general.google_map_key %>&callback=initMap&v=weekly" defer></script>
        <script src="../../js/map_address.js"></script>
        <%- include('./partials/footer'); -%>
        <%- include('./partials/script'); -%>
  </body>
</html>